<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<style>
			body {
				font-family: sans-serif;
				font-size: 10pt;
			}
			h1 {
				font-size: 16pt;
			}
			table {
				border-collapse: collapse;
				width: 100%;
				margin-top: 15px;
			}
			th,
			td {
				border: 1px solid #aaa;
				padding: 6px;
				text-align: left;
			}
			table.saal-tabelle {
				width: 100%;
				table-layout: fixed;
				border-collapse: separate;
				border-spacing: 5mm 5mm;
				margin-bottom: 20px;
			}

			table.saal-tabelle td {
				width: 25%;
				height: 40mm;
				border: 1px solid #000;
				vertical-align: top;
				text-align: center;
				padding: 5px;
				box-sizing: border-box;
			}

			.saal-label {
				font-weight: bold;
				display: block;
				margin-bottom: 2px;
				margin-top: 0;
			}


			.section {
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Einteilung für
			{{ datum }}</h1>

		<div class="section">
			<p>
				<strong>Koordination:</strong>
				{{ tv }}</p>
			<p>
				<strong>PAS Vormittag:</strong>
				{{ pas_morning }}</p>
			<p>
				<strong>PAS Nachmittag:</strong>
				{{ pas_afternoon }}</p>
			<p>
				<strong>Pain:</strong>
				{{ pain }}</p>
			<p>
				<strong>Spätdienste:</strong>
				{{ late_shift }}</p>
			<p>
				<strong>Pikett:</strong>
				{{ pikett }}
				({{ tel_pikett }})</p>
			<p>
				<strong>Nacht:</strong>
				{{ nacht }}</p>
		</div>

		<div class="section">
			<h2>OP-Säle</h2>
			<table>
				<tr>
					<th>Saal</th>
					<th>Arzt</th>
					<th>Pfleger:in</th>
					<th>Ende</th>
				</tr>
				{% for saal in saele %}
					<tr>
						<td>{{ saal.name }}</td>
						<td>{{ saal.arzt }}</td>
						<td>{{ saal.pflege }}</td>
						<td>{{ saal.ende }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<!-- BAUSTELLE AB HIER -->

		<table class="saal-tabelle">
			<tr>
				{% for saal in saele|slice(0, 3) %}
					<td>
						<span class="saal-label">{{ saal.name }}</span>
						<br><br>
						{{ saal.arzt }}
					</td>
				{% endfor %}
			</tr>
			<tr>
				{% for saal in saele|slice(4, 4) %}
					<td>
						<span class="saal-label">{{ saal.name }}</span>
						{{ saal.person }}
					</td>
				{% endfor %}
			</tr>
		</table>

		<!-- BAUSTELLE ENDE -->

		<div class="section">
			<p>
				<strong>Anmerkungen:</strong>
			</p>
			<p>{{ anmerkungen }}</p>
		</div>
	</body>
</html></body></html></body></html>
